{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Prototypes' %}

{% block content %}

  {{ components.pageHeading('Prototypes', 'Prototype Starter Kit') }}

  {% call components.gridRow() %}

    {% call components.columnOneThird() %}

      {{ components.heading(text='Create Account', tag='h2', size='medium', url='/prototypes/create-account') }}
      {{ components.paragraph(text='Creating an account user journey prototype.') }}
      
    {%- endcall %}

  {%- endcall %}
  
{% endblock %}